.top{
    width: 100%;
    height: 56px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
}
.topLeft,.topRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topCenter{
    flex: 6;
}
.topLeft > a{
    cursor: pointer;
}
.topList{
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    list-style-type: none;
}
.topListItem{
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}
.topListItem:hover{
    color: #AAD3CB;
    font-weight: 500;
    
}
.topListItem:active{
    color: #515252;
    font-weight: 300;
}
.topImg{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.topSearchIcon{
    font-size: 18px;
    color : #666;
    cursor: pointer;
    margin-left: 16px
}